@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: 'Poppins';
  height: 100%;
}

.transition_all {
  transition: all 0.25s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #d5d5d5 !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset; */
  caret-color: #d1d5db;
}

.base-grid-r-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-brand_blue;
  background-image: url('./assets/bg-waves-tl.svg'), url('./assets/bg-waves-br.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 45%;
}

.base-grid-r-two {
}

@media screen and (min-width: 1200px) {
  .base-grid-r-one {
    display: grid;
    align-items: stretch;
    grid-template-columns: 200px 400px 1fr;
    grid-template-rows: 100px auto 100px;
    @apply bg-transparent;
    background-image: none;
  }

  .base-grid-r-two {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px auto 100px;
    @apply bg-brand_blue;
    background-image: url('./assets/bg-waves-tl.svg'), url('./assets/bg-waves-br.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 45%;
  }
}

.base-grid-l-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-brand_blue;
  background-image: url('./assets/bg-waves-tl.svg'), url('./assets/bg-waves-br.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 45%;
}

.base-grid-l-two {
}

@media screen and (min-width: 1200px) {
  .base-grid-l-one {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 400px 200px;
    grid-template-rows: 100px auto 100px;
    @apply bg-transparent;
    background-image: none;
  }

  .base-grid-l-two {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 100px auto 100px;
    @apply bg-brand_blue;
    background-image: url('./assets/bg-waves-tl.svg'), url('./assets/bg-waves-br.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 45%;
  }
}

.slate {
  position: relative;
  padding-bottom: 20px;
}

.slate::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100px;
  left: calc(50% - 50px);
  border-top: 4px solid #46f7ad;
}

.bg {
  background-image: url('./assets/bg-down.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left;
  background-size: 45%;
}

.bg-plans {
  background-image: url('./assets/bg-plans.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: cennter;
  background-size: 100%;
}

.bg-waves-right {
  background-image: url('./assets/bg-waves-tl.svg'), url('./assets/bg-waves-br.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 45%;
}

.bg-waves-left {
  background-image: url('./assets/bg-waves-tr.svg'), url('./assets/bg-waves-bl.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-size: 45%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.card {
  /* box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.2s ease;
}

.tooltip {
  background-color: white;
  position: relative;
}

.tooltip::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: 16px;
  top: 95%;
  border-width: 1rem;
  border-style: solid;
  border-color: white rgba(205, 133, 63, 0) rgba(205, 133, 63, 0) rgba(205, 133, 63, 0);
}
