@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins';
}

.transition_all {
  transition: all 0.25s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #d1d5db !important;
  -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset;
  caret-color: #d1d5db;
}
